.header {
  width: 100%;
  height: 130px;
  background-image: linear-gradient(
      rgba(29, 29, 29, 0.8),
      rgba(29, 29, 29, 0.8)
    ),
    url("../../../assets/img/costela-defumada-para-churrasco-com-fundo-escuro_911620-761.jpg");
  background-position: center center;
  background-size: cover; // Ajusta a imagem para cobrir o header
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  color: #f3f1ee;
  gap: 1.6rem;
}

.header__store {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.header__store span {
  font-weight: bold;
}

.header__logoImage-img {
  height: 80px;
}

.header__nav {
  @include flex-row-space-between;
  width: 100%;

  .header__menu {
    @include flex-row-center;
    gap: 1.2rem;
    font-size: 1.6rem;

    .header__menu-item {
      text-transform: uppercase;

      .header__menu-link {
        margin: 0.2rem;
        transition: all 200ms ease;

        i {
          font-weight: 600px;
        }

        &:hover {
          border-bottom: 3px solid #f3f1ee;
        }
      }
    }
  }

  .mobile-menu {
    display: none;

    div {
      width: 32px;
      height: 2px;
      background: #fff;
      margin: 8px;
    }
  }
}

.header__store-title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* Responsividade */


/* Responsividade */
@media (max-width: 768px) {

  .header__menu {
    display: none;
  }
  .header__logoImage-img {
    height: 60px;
  }

  .header__store-address {
    display: none;
  }

  .header__store-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .header__store-address {
    display: none;
  }
}
